<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div id="wrapper" class="container">
        <div id="show_info">
            <h1>TV Show {{allshows.id}}</h1>
            <p>Title:{{allshows.title}}</p>
            <p>Network:{{allshows.network}}</p>
            <p>Release Date:{{allshows.release_date}}</p>
            <p>Description:{{allshows.desc}}</p>
            <a class="btn btn-success text-white" roll=button href="/edit/{{allshows.id}}">Edit</a>
            <a class="btn btn-danger text-white" roll=button href="/delete_show_on_list/{{allshows.id}}/destroy">Delete</a>
            <a class="btn btn-primary text-white" roll=button href="/">Go Back</a>
        </div>

    </div>
</body>
</html>